.end-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    background-image: url(../../img/endof-section.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin: 0 auto;
    h3{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #FFFFFF;
    }
    .network{
        display: flex;
        gap: 20px ;
    }
}


@media (min-width:577px) and (max-width:768px){
    .end-container{
        display: block;
        background-image: url(../../img/endof-section.png);
        background-repeat: no-repeat;
        background-position: center right;
        height: 300px;
        margin-top: 1500px;
        h3{
            text-align: center;
            padding-top: 80px;
        }
        .network{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
    }
}


@media (max-width:576px){

    .end-container{
        margin: 0 auto;
        display: block;
        background-image: url(../../img/endof-section.png);
        background-repeat: no-repeat;
        background-position: right;
        margin-top: 300px;
        h3{
            text-align: center;
            margin: 50px;
            padding-top: 50px;

        }
        .network{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}